.entryText {
  white-space: pre;
  word-wrap: break-word;
  overflow: hidden;
  background-color: #c2bcbc;
  width: 281px;
  height: 101px;
  margin-top: 65px;
  border-radius: 3px;
  line-height: 22px;
  padding: 15px;
  background: #fffbfc;
  color: #ff2c6f;
  border: 1px solid #ffd4dc;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
