.header {
  display: flex;
  justify-content: left;
  padding: 50px 50px 0px 50px;
}

.circles {
  width: 118px;
  height: 118px;
  border-radius: 60px;
  background: url("./logo.svg");
}

.circles:hover {
  background: url("./haiku4u-logo-hovered.svg");
  transition: 2s;
  cursor: pointer;
}

.haiku4U {
  color: #ea4f87;
  padding-left: 30px;
  font-size: 1.5rem;
  margin-top: 45px;
  text-decoration: none;
}
