.topic-launch {
  padding: 30px;
  background-color: #f5f5f5;
  border: 1px solid rgb(241, 103, 126);
  border-radius: 4px;
}

.subject-form {
  display: flex;
  flex-direction: column;
}

.newTopic-input {
  border-color: rgba(241, 103, 126, 0.527);
  width: 285px;
  height: 101px;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 25px;
  padding-top: 10px;
  background-color: #f5f5f5;
}

.author,
.subject-input {
  border: 1px solid rgba(241, 103, 126, 0.527);
  border-radius: 3px;
  margin-bottom: 20px;
  height: 30px;
  text-align: center;
  background-color: #f5f5f5;
}

.submitNewTopic {
  border-color: #ea4f87;
  background-color: #ea4f87;
  width: 285px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 3px;
}
